.title{
  font-size: 300%;
  text-align: center;
  word-wrap: break-word; 
}

.message{
  font-size: 180%;
  text-align: center;
  word-wrap: break-word;
  font-weight: 500;
}

.App{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  background:  linear-gradient(to right, rgb(255, 128, 0), rgb(255, 0, 0));
}

.local-weather{
  height:100%;
  max-width: 100%;
  position: relative;
  
}

.container{
  height:75%;
  width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0,0,0, .5);
}

.info-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.image{
  height:55%;

}
 /* Background images class */
.bg-thunderstorm{
  background: url('../images/thunderstorm-1265161_1280.png') no-repeat center center;
  background-size: contain;
}

.bg-rain{
  background: url('../images/rain-1265201_1280.png') no-repeat center center;
  background-size: contain;
}

.bg-drizzle{
  background: url('../images/light-rain-1265212_1280.png') no-repeat center center;
  background-size: contain;
}

.bg-snow{
  background: url('../images/snow-1265208_1280.png') no-repeat center center;
  background-size: contain;
}

.bg-fog{
  background: url('../images/fog-1265203_1280.png') no-repeat center center;
  background-size: contain;
}

.bg-clear-sky{
  background: url('../images/sun-1265199_1280.png') no-repeat center center;
  background-size: contain;
}

.bg-partly-cloudy{
  background: url('../images/cloudiness-1265205_1280.png') no-repeat center center;
  background-size: contain;
}

.bg-overcast{
  background: url('../images/starkbewolkt-1265202_1280.png') no-repeat center center;
  background-size: contain;
}

/* Background gradient classes */
.bg-cloud-sky{
  background: linear-gradient(to right, rgb(192, 192, 192), rgb(126, 192, 238));
}

.bg-overcast-sky{
  background: linear-gradient(to right, rgb(216, 216, 216), rgb(192, 192, 192));
}

.bg-stormy-sky{
  background: linear-gradient(to right, rgb(192, 192, 192), rgb(105, 105, 105));
}

.bg-sunny-sky{
  background: rgba(126,192,238);
}

.bg-dark{
  background: rgb(35, 35, 50);
}



.loading:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;
}

@keyframes spinner {
  to{
    transform: rotate(360deg);
  }
}

@media(max-width: 900px){

  .message{
    display: none;
  }
  
  .title{
    margin: 0;
  }

  .image{
    height: 200px;
    margin: 0;
  }
  .container{
    display: flex;
    flex-direction: column;
    margin: 20px
  }
}

@media(max-width:500px){

  .title{
    margin: 0;
    font-size: 200%;
  }

  .image{
    height: 100px;
    margin: 0;
  }

  .local-weather{
    height: auto;
  }

  .container{
    height: auto;
  }
}