
.center{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center; 
  align-items: center;
  
}

.title{
  
  box-shadow: 5px 5px 2px rgba(0, 0,0, .5);
  border: 2px solid black;
  border-radius: 5%;
  padding: 10px;
  background: rgba(91,192,222,1);
}

.App{
  height: 100vh;
  
}

.temp-section{
  display: flex;
  flex-direction: row;
}

.info-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.bg-clouds{
  background: url('../images/cloud.jpg') no-repeat center center;
  background-size: cover;
}
.bg-rain{
  background: url('../images/rain.jpg') no-repeat center center;
  background-size: cover;
}
.bg-sun{
  background: url('../images/sun.jpg') no-repeat center center;
  background-size: cover;
}
.bg-snow{
  background: url('../images/winter.jpg') no-repeat center center;
  background-size: cover;
}