.btn{
    
    font-size: 200%;
    margin-bottom: 5px;
    border-radius: 5%;
    background: rgba(91,192,222);
    cursor: pointer;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid  rgba(157, 195, 230,0);
    color: rgba(249,249,249);
}

.btn:focus:active{
   border: 5px solid  rgb(66,139,202.7);
   /* background: rgb(91,192,222); */
}

.temp-display{
    border: 2px solid  black;
    border-radius: 5%;
    margin: 5px;
    padding: 5px;
    background: rgba(91,192,222,1);
    text-align: center;
    
}

